.firstclass{
  color: pink;
  font-size: 50px;
  font-family: Tahoma, "Trebuchet MS", sans-serif;
  text-transform: uppercase;
}

.absolute{ /*for aboslute text */
  position:absolute;
  top:20px;
  left:20px;
}
 .relative{
   position: relative;
   top: 40px;
   left: 20px;
 }
.fixed{
  position: fixed;
  top:5px;
  left:0px;
  text-transform: uppercase;
}

p.absolute{color:red;} /*nesting */

h2,h3,ul{color:orange;}

#box{
  width: 400px;
  padding: 15px;
  border: 15px solid magenta;
  margin: 50px;
}
