body {
  background-color: red;
}
.tableClass{
  color: green;
  font-style: italic;
}

.firstClass{
  display:inline-block;
  font-size: 30px;
}

.secondClass{
  display:inline-block;
  font-size: 30px;
}

.thirdClass{
  display:inline-block;
  font-size: 30px;
}
